html, body{
    margin : 0; padding : 0;
    height : 100%;
}
/*윗 로고 */
.navset a{
    text-decoration: none;
    color : rgb(241, 241, 241);
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main a{
    text-decoration: none;
    color : darkslateblue 
}
.navset {
    display: flex;/*padding margin 값 강제로 깎아서*/
    justify-content: space-between;
    align-items : center;
    background-color: rgb(167, 46, 167);
    padding : 8px 12px;
    font-family: 'Nanum Pen Script', cursive;
    font-size : 25px;
}
.nav__logo{
    padding-left : 10px;
    font-size: 40px;
}
.nav__manual{
    display : flex;
    list-style: none;
}
.nav__manual li {
    padding : 8px 12px;
}
.nav__manual li:hover{
    background-color: black;
    border-radius : 8px;
}
.nav__icons {
    padding-right: 30px;
    list-style : none;
}
.nav_toggle{
    position: absolute;
    right: 15px;
    font-size: 20px;
    display:none;
}
/* 모든 html 파일 공통*/
.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;  

}
.main li{
    list-style:none;
}
/* index(메인 화면)*/
.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    
}
.introduce{
    min-width: 200x;
    flex-basis: 150px;
    flex-grow: 1;
  

}
.main img{
    position: relative;
    width : 80%;
    height: 100%;
    overflow: hidden; 

}

.introduce li{
    font-family: 'Oswald', sans-serif;
    font-size : 18px;
}
.alink{
    font-size:16px;
    color:red;
}
#web{
    color : mediumspringgreen;
    font-size : 25px;
}
/*stacks(기술) 부분*/
.stacks1{
    font-size : 20px;
}
.fa-c, .fa-java, .fa-python{
    font-size : 200px;
}
/*contact(외부 링크)*/

/*about me(나에 대한 자세한 소개)*/
.infod li{
    list-style : none;
    line-height: 30px;
    font-family: 'Cabin', sans-serif;
    font-size : 20px;
}
/*interest (취미 부분)*/
.interest li h3{.navbar__menu li {
    padding: 8px 30px;
  }
    font-family: 'Oswald', 'sans-serif';
    font-size : 20px;
}
/*끝부분*/
.endpoint li{
    list-style: none;
}
footer{
    padding : 8px 0;
    flex-direction: row;
    
}
.endpoint li {
    color : #a0a0a0;
    text-align: center;
    font-size : 10px;
}
.navset{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
  

.nav__manual{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.nav__manual li {
    padding: 8px 30px;
  }


@media screen and (max-width: 785px) {
    .main{
        flex-direction: column;
    }
    
    .navset{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
          
    }

    .nav__manual {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
      
    .nav__manual li {
        width: 100%;
        text-align: center;
    }

    
    .nav_toggle{
        display : block;
    }

    .nav__manual.active{
        display : flex;
    }

}
